{% extends "admin/change_form.html" %}
{% block submit_buttons_bottom %}
{{ block.super }}
{% if original %}
{# Only show if changing #}
<!-- Вставляем данные при нажатии на кнопку сохранить основной формы  -->
{% endif %}
{% endblock %}
{% block content %}
{{ block.super }}
<div class="submit-row" style='float: left'>
  <form action="{% url 'send_message_user_email' original.pk %}" method='POST'>
    {% csrf_token %}
    <textarea name='message' rows="10" cols="100" placeholder="Сообщение"></textarea>
    <br>
    <input type="submit" name='apply' value="Отправить">
  </form>
</div>
{% endblock %}
